body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left; }

a {
  text-decoration: none;
  transition: 0.35s all cubic-bezier(0.55, 0.085, 0, 0.99);
  cursor: pointer; }
  a:visited, a:active {
    text-decoration: none;
    transition: 0.35s all cubic-bezier(0.55, 0.085, 0, 0.99);
    cursor: pointer; }
  a:hover {
    text-decoration: none; }

.whiteLink {
  color: #ffffff; }

h1 {
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  margin: 6px 0;
  color: #ffffff; }

h2 {
  font-size: 48px;
  line-height: 58px;
  margin: 6px 0;
  color: #000000;
  font-weight: 600;
  max-width: 615px; }

h5:before {
  content: " ";
  background: #1BBDBF;
  display: block;
  width: 82px;
  height: 7px;
  margin-bottom: 29.5px;
  margin-top: 50px; }

h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0 12px 0;
  font-weight: 600;
  color: #128081;
  max-width: 615px; }

h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 0;
  margin-bottom: 16px; }

p {
  margin: 8px 0;
  width: 55%; }

img {
  width: 100%;
  height: auto; }

ol,
ul {
  padding-inline-start: 15px; }

ol ul,
ul ol,
ul ul,
ol ol {
  padding-inline-start: 25px; }

ol li ul li,
ol li,
ul li {
  margin-top: 16px; }

.button {
  display: inline-block;
  border-radius: 25px;
  background: #B2292E;
  color: #ffffff;
  padding: 7px 30px;
  transition: 0.35s all cubic-bezier(0.55, 0.085, 0, 0.99); }
  .button:hover {
    background: #86191d; }

.license-button {
  margin-top: 54px; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 80px;
  background: #262626 0% 0% no-repeat padding-box;
  padding-left: 7%;
  padding-right: 7%;
  color: #ffffff; }

header a {
  color: #ffffff;
  margin-left: auto;
  font-weight: 700; }

header a:hover {
  color: #e0e0e0; }

header .logos {
  max-width: 209px;
  margin-right: 20px; }

#hero-section {
  display: block;
  padding-left: 7%;
  padding-right: 7%; }

#hero-section span.contactInfo {
  display: block;
  line-height: 19px;
  color: #000000;
  padding-top: 29px; }
  #hero-section span.contactInfo a {
    color: #000000; }

#licensing,
#brands,
#LicenseNow,
#licensingNote {
  margin-left: 7%;
  margin-right: 7%; }

#brands {
  margin-top: 100px; }

#licensing .phone {
  max-width: 45%;
  display: inline-block;
  float: right; }

.brand-display {
  margin-top: 38px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; }

.brand-display div {
  max-width: 46%;
  flex: 1 1 50%;
  padding-bottom: 60px; }

.brand-display div img {
  width: 100%;
  box-shadow: 0 20px 36px 0 rgba(0, 0, 0, 0.1); }

#LicenseNow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

#LicenseNow div {
  flex: 1; }

#LicenseNow sup {
  color: #B2292E; }

#license-form {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap; }

label,
input,
textarea {
  display: block; }

textarea {
  resize: none;
  height: 283px; }

textarea,
input {
  border-radius: 4px;
  border: #DDDDDD 1px solid;
  padding: 20px 30px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  font-size: 16px;
  line-height: 22px;
  width: calc(100% - 110px); }

label {
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 25px; }

button {
  margin-top: 30px;
  outline: none;
  box-shadow: none;
  border: 0;
  cursor: pointer; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  background: #262626 0% 0% no-repeat padding-box;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 80px;
  padding-bottom: 40px;
  color: #ffffff;
  margin-top: 100px; }

footer p {
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  width: 100%; }

footer #col2 {
  margin-left: 50px; }

@media (max-width: 1079px) {
  #hero-section h1 {
    display: block;
    margin-top: calc(10vh - 40px); } }

@media (max-width: 925px) {
  body {
    font-size: 14px;
    line-height: 20px; }
  h1 {
    font-size: 60px;
    line-height: 60px; }
  h2 {
    font-size: 38px;
    line-height: 48px;
    max-width: unset; }
  h3 {
    font-size: 17px;
    line-height: 21px;
    max-width: unset; }
  h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px; }
  header {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    padding-left: 7%;
    padding-right: 7%;
    color: #ffffff; }
  header a {
    margin-left: unset; }
  #hero-section {
    margin-bottom: 180px; }
  textarea,
  input {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    width: 90%; }
  label {
    margin-bottom: 13px;
    margin-top: 20px; }
  #licensing .phone {
    display: none; }
  .brand-display div {
    max-width: 45%;
    flex: 1 1 45%;
    padding-bottom: 40px; }
  #LicenseNow {
    flex-direction: column; } }

@media (max-width: 650px) {
  #hero-section:after {
    height: 150px;
    top: calc(100vh - 155px); }
  .brand-display div {
    max-width: 90%;
    flex: 1 1 90%;
    padding-bottom: 40px; }
  #hero-section {
    margin-bottom: 120px; } }
