$Black: #000000;
$White: #ffffff;
$DarkGray: #404040;
$TPGGray: #2D2F33;

$HeaderFooterBG: #262626;

$RV-header-before: #1BBDBF;
$RV-h3: #128081;

$cnetRed: #B2292E;
$cnetDarkerRed: #86191d;

$TPGGreen: #45C36A;
$TPGDarkGreen: #3d9959;