
@media (max-width: 1079px) {
    #hero-section h1 {
        display: block;
        margin-top: calc(10vh - 40px);
    }
}

@media (max-width: 925px) {
    body {
        font-size: 14px;
        line-height: 20px;
    }
    
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    
    h2 {
        font-size: 38px;
        line-height: 48px;
        max-width: unset;
    }
    
    h3 {
        font-size: 17px;
        line-height: 21px;
        max-width: unset;
    }
    
    h4 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }

    header {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        height: 160px;
        padding-left: 7%;
        padding-right: 7%;
        color: $White;
    }
    
    header a {
        margin-left: unset;
    }

    #hero-section {
        margin-bottom: 180px;
    }

    textarea,
    input {
        padding: 15px 20px;
        font-size: 14px;
        line-height: 20px;
        width: 90%;
    }
    
    label {
        margin-bottom: 13px;
        margin-top: 20px;
    }

    #licensing .stats {
        display: none;
    }

    .brand-display div {
        max-width: 45%;
        flex: 1 1 45%;
        padding-bottom: 40px;
    }

    #LicenseNow {
        flex-direction: column;
    }
}

@media (max-width: 650px) {

    #hero-section:after {
        height: 150px;
        top: calc(100vh - 155px);
    }

    .brand-display div {
        max-width: 90%;
        flex: 1 1 90%;
        padding-bottom: 40px;
    }

    #hero-section {
        margin-bottom: 120px;
    }
}

#licensing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#licensing [class*="col-"] {
    flex: 0 0 100%;
    flex-basis: 100%;
}
#licensing .col-two {
    text-align: center;
}
#licensing .col-two img {
    max-width: 100%;
    width: auto;
    height: auto;
    float: none;
    display: inline-block;
    line-height: 0;
}
@media screen and (min-width: 768px) {
    #licensing {
        flex-direction: row;
    }
    #licensing [class*="col-"] {
        flex: 0 0 50%;
        flex-basis: 50%;
        box-sizing: border-box;
    }
    #licensing .col-one {
        padding-right: 5vw;
    }
    #licensing .col-two img {
        max-width: 76%;
        padding-top: 8vh;
    }
}
@media screen and (min-width: 960px) {
    #licensing .col-two {
        text-align: left;
    }
}