$Black: #000000;
$White: #ffffff;
$DarkGray: #404040;
$BRGray: #2D2F33;

$HeaderFooterBG: #262626;

$RV-header-before: #1BBDBF;
$RV-h3: #128081;

$cnetRed: #B2292E;
$cnetDarkerRed: #86191d;

$BRBlue: #0157FF;
$BRDarkBlue: #0044CC;